@charset "UTF-8";

body {
    /* 背景色 */
    background-color: #fff6f1;

    /* 複数背景画像の指定 */
    background-image: url("images/haikei.jpg");

    /* 背景の繰り返し */
    background-repeat: no-repeat;

    /* 背景位置 */
    background-position: left top;

    /* 背景サイズ */
    background-size: cover;
    /* 右端画像を固定表示にする */
    background-attachment: scroll;
}

/* 文字関連 */
.neighbor-info {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
    text-align: left;
}

div p {
    color: rgb(235, 52, 52);
}

h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 適切な値に修正 */
    font-style: normal;
    background-color: #dc8ba7;
    text-align: center;
}

h2 {
    color: #d6c299;
}

th, td {
    background-color: #e1e1cd;
}

/* 画像クラス */
.yamazoe00 {
    width: 400px;
    height: auto;
    display: block;
    margin-left: 0;
    margin-right: auto;
}

.yamazoe-info {
    background:#e1e1cd;
    width:100%;
    height:150ox;
}

.sel1 {
    justify-content:center;
}

.selpicture ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.selpicture img {
    width: 100%;
    height:auto;
    display:block;
}

.selpicture li{
    flex: 1;
}